// .navigation {
    
//     &__card-header {
//         color: $pk-gray;
//     }

//     &__background {
//         height: 6rem;
//         width: 6rem;
//         border-radius: 50%;
//         position: fixed;
//         top: 60rem;
//         left: 6.5rem;
//     }

//     &__nav {
//         position: fixed;
//         top: 14rem;
//         left: 2.5rem;
//         width: 20rem;
//         font-size: 2rem;
//         text-transform: uppercase;
//         z-index: 100;
//     }


//     &__list {
//         position: absolute;
//         list-style: none;
//         width: 100%;
//     }

//     &__item {
//         border-bottom: 8px solid transparent;
//         margin: 0 1rem ;
//     }

//     &__item:hover,
//     &__item:active {
//         border-bottom: 8px solid rgba($pk-gray, .6);
//     }

//     &__link,
//     &__link:link,
//     &__link:active {
//         display: inline-block;
//         font-size: 2rem;
//         font-weight: 400;
//         color: $pk-red;
//         text-decoration: none;
//         text-transform: uppercase;
//         // background-size: 220%;
//     }
        

// // fuctionality

// &__checkbox:checked ~ &__nav {
//     opacity: 1;
//     width: 100%;
// }

// // icon

//     &__icon {
//         position: relative;
//         margin-top: 3.5rem;

//         &,
//         &::before,
//         &::after {
//             width: 3rem;
//             height: 2px;
//             background-color: $color-grey-dark-3;
//             display: inline-block;
//         }

//         &::before,
//         &::after {
//             content: "";
//             position: absolute;
//             left: 0;
//             transition: all .2s;
//         }
        
//         &::before {
//             top: -.8rem;
//         }
//         &::after {
//             top: .8rem;
//         }

//         &__button::hover &__icon::before {
//             top: -1rem;
//         }

//         &__button::hover &__icon::after {
//             top: 1rem;
//         }

//     }
// } 

nav {
    &.nav__banner {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        height: 10rem;
        width: 100%;
        margin-top: 5rem;
        background-color: $brite4;
        color: $color-black;
        @include shadow6;
        text-shadow: 2px 2px 3px rgba($coolor4, 0.8);
        z-index: 20000;

        div.dropper {
            position: absolute;
            top: 30px;
            left: 20px;
            cursor: pointer;
            z-index: 40000;

            &>i {
                color: black;
                // background-clip: text;
                // -webkit-background-clip: text;
                // -webkit-background-clip: text;
                // background-image: linear-gradient(to right, $daark1, $daark2);
                text-shadow: 2px 2px 3px rgba($coolor4, 0.8);

                &:hover {
                    animation: bouncer 2s ease;
                }
            }
            & ul li.dropper--color {
                text-decoration: none;
                display: inline-grid;
                margin: -5px 0 0 10px;
                cursor: pointer;
                z-index: 50001;
                animation: bouncer 2s ease;

                &:first-child {
                    padding-left: 5px;
                }

                &.color1 {
                    color: $daark1;
                }
                &.color2 {
                    color: $color-black;
                }
                &.color3 {
                    color: $daark3;
                }
                &.color4 {
                    color: $daark4;
                }
                &.color5 {
                    color: $brite3;
                }
                &.color6 {
                    color: $color-white;
                }
            }
        }

        div.hamburger-menu {
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            top: calc((100% - 4rem) / 2);
            right: 2.5rem;
            background-color: transparent;
            padding: 0;
            margin: 0;
            user-select: none;
            outline: none;
            cursor: pointer;
            z-index: 51000;
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;

            &.open__button {
                & span:nth-child(1) {
                    top: 20px;
                    transform: rotate(45deg);
                    background-color: black;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                }
                & span:nth-child(2) {
                    
                    width: 0;
                    opacity: 0;
                    // transition: all 0.5s ease;
                    // -webkit-transition: all 0.5s ease-in-out;
                }   
                & span:nth-child(3) {
                    top: 20px;
                    transform: rotate(-45deg);
                    background-color: black;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                }
            }
            &.close__button {
                & span:nth-child(1) {
                    transform: rotate(0deg);
                    background-color: black;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                }
                & span:nth-child(2) {
                    transform-origin: left center;
                    -webkit-transform-origin: left center;
                    
                }
                & span:nth-child(3) {
                    transform: rotate(deg);
                    background-color: black;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                }
            }

        }
        div.hamburger-menu > span {
        display: block;
        position: absolute;
        width: 40px;
        height: 6px;
        top: calc((100% - 3rem) / 2);
        
        background: #000;
        border-radius: 10px;
        box-shadow: 2px 2px 3px rgba($coolor4, 0.8);

            &:nth-child(2) {
                top: calc(((100% - 1rem) / 2));
                box-shadow: 2px 2px 3px rgba($coolor4, 0.8);

            }
            &:nth-child(3) {
                top: calc((100% + 1rem) / 2);
                box-shadow: 2px 2px 3px rgba($coolor4, 0.8);
            }
        }
        ul.nav__items {
            display: grid;
            grid-template-columns: 1ft;
            grid-template-rows: repeat(8, 25px);
            margin-top: 10px;
            height: 5rem;
            width: 50%;
            
            & li {
                font-size: 1.4rem;
                list-style-type: none;
                text-decoration: none;
                align-items: left;
                right: 100px;
                margin-left: 20px;
                animation: seepIn 2s ease 2s;
                -webkit-animation: seepIn 2s ease-in-out;


                // &.link1 {
                //     margin-left: 77px;
                // }
                // &.link2 {
                //     margin-left: 47px;
                // }
                // &.link3 {
                //     margin-left: 32px;
                // }
                // &.link4 {
                //     margin-left: 20px;
                // }
                // &.link5 {
                //     margin-left: 15px;
                // }
                // &.link6 {
                //     margin-left: 15px;
                // }
                // &.link7 {
                //     margin-left: 15px;
                // }
                // &.link8 {
                //     margin-left: 28px;
                // }
                // &.link10 {
                //     margin-left: 10px;
                // }
                // &.link9 {
                //     margin-left: 77px;
                // }
                
            }
        }
        .nav__banner--name {
            font-weight: 700;
            font-family: 'Shadows Into Light', cursive;
            font-size: 4rem;
            text-align: center;
            padding: .3rem 0 .35rem;
            color: $somber2;
            text-shadow: 2px 2px 3px darken(rgba($daark4, 0.8),10);
        }
        .nav__banner--title {
            font-family: 'Varela Round', sans-serif;
            text-align: center;   
            margin-top: -3px;
        }
        .nav__banner--company {
            font-family: 'Varela Round', sans-serif;
            text-align: center;
            margin-top: -3px;
        }
    }


    // div.menu__circle {
    //     position: fixed;
    //     top: 20px;
    //     right: 20px;
    //     width: 50px;
    //     height: 50px;
    //     padding: 20px 21px;
    //     border-radius: 10px;
    //     background-color: $earth4;
    //     z-index: 1000;
    // }

    div.menu__big-circle {
        position: fixed;
        width: 0;
        height: 0;
        transform-origin: bottom right;
        background-color: $color-white;
        z-index: 10000;
        font-size: 1.6rem;
        top: 40px;
        right: 0px;
        transition: all 1s ease-in-out;
        
        &.show__big-circle {
            // width: 350px;
            // height: 350px;
            // border-bottom-left-radius: 350px;
            width: 200px;
            height: 270px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            z-index: 20000;
            box-shadow: -1px 3px 6px  rgba(0,0,0,0.25);
        }

    }
    @media screen and (max-width: 768px) {
        &.nav__banner div.dropper {
            top: 25px;
            left: 10px;
        }
        ul.dropper--colors {
            background-image: linear-gradient(to bottom,transparent,$color-white,$color-white,transparent);
            display: grid;
            justify-content: center;
            align-content: center;
            padding: 12px;
            
            @include shadow3;

            &.hide_dropper-colors {
                display: none;
            }

        }
       &.nav__banner div.dropper ul li.dropper--color {
            padding-bottom: 5px;
            margin: 0 auto;
            
            &:first-child {
                padding-left: 0;
            }
        }
    }

    @media screen and (max-width: 368px) {
        &.nav__banner .nav__banner--header .nav__banner--name {
            margin-top: 1.4rem;
            margin-left: -6px;
            font-size: 3rem;
        }  
        &.nav__banner .nav__banner--header .nav__banner--title,
        &.nav__banner .nav__banner--header .nav__banner--company {
            font-size: 1.4rem;
        } 
    }


    // &.bg-custom {
    //     background-image: linear-gradient(to right, $pk-blue, $pk-light-blue);
    //     margin-right: 0;
    // }  

    &.navbar-custom {
        color: $color-white;
    }

    span.navbar-brand {
        margin-top: -10px;
        font-size: 1.6rem;
        text-shadow: 1px 1px 15px $color-black;
    }

    a.nav-links {
        color: $somber2;



        &:hover,
        &:active,
        &:focus {
            color: $brite2;
            text-decoration: none;

            // border-bottom: 6px solid $pk-orange;
            // text-shadow: 1px 1px 1px $color-black;
        }
    }
}

@keyframes bouncer {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-10px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

    @keyframes seepIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

