section .section-comment {

  & .container {
    margin-top: 3rem;

  }
}

.cards {
  position: relative;  
  list-style-type: none;
  padding: 0;
  width: 35rem;
  height: 35rem;
  margin: 10% auto 0;
  transition: all 2s ease-in-out;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  @include f-mont;
  
  background: #ccc;
  border-radius: 10px;
  padding: 40px;
  @include shadows2;
  transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
  transform-origin: 0 0;
  
  transition: transform 2s cubic-bezier(.8,.2,.1,0.8) 0.1s,
    background 0.4s linear;
  
  cursor: pointer;
  user-select: none;
  
  :last-child { 
    margin-bottom: 0; 
  }
  &:first-child {
    background-color: $cool1;
    color: lighten($cool1, 25);
    transform: translateY(-40px) rotate(-4deg) translateX(50px) scale(0.95);
  }
  &:nth-child(2) {
    background-color: $cool3;
    color: lighten($cool3, 25);
    transform: translateY(-10px) rotate(-12deg) translateX(55px) scale(0.95);
  }
  &:nth-child(3) {
    background-color: $cool2;
    color: darken($cool2, 25);
    transform: translateY(-30px) rotate(0deg) translateX(55px) scale(0.95);
  }
  &:last-child {
    background-color: $cool5;
    color: lighten($cool5, 25);
    transform: translateY(-20px) rotate(-8deg) translateX(25px) scale(1);
  }
  & h1 {
    margin-bottom: 25px;
    color: $color-white;
  }
  & .commented {
    font-weight: 500;
    user-select: none;
  }
  & .author {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 1.6rem;
    font-family: 'Homemade Apple', cursive;
  }
}

.card--next { 
  z-index: 5; 
}

.card--out {
  animation: card-out 0.6s cubic-bezier(.8,.2,.1,0.8);
  z-index: 1;
  background: #bbb;
}

@keyframes card-out {
  0% { 
    z-index: 20; transform: translateY(0px) rotate(-4deg); 
  }
  50% { 
    transform: translateY(-120%) rotate(-5deg) translateX(-40px); 
  }
  80% { 
    z-index: 1; 
  }
  100% { 
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95); }
}

.card--current {
  cursor: auto;
  user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  background: #EEE;
  transform: rotate(-1deg) translateX(0%) scale(1);
}

ul.cards .li.card {
  transform: rotateZ(0deg);

  &:first-child {
    left: 400px;
  }
  &:nth-child(3) {
    left: 220px;
  }
  &::nth-child(4) {
    left: 100px;
  }
}

.cards.transition{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  grid-gap: 10px;
  margin: 0;
  transition: all 2s ease-out;

  li.card{
    transform: rotateZ(0deg);
    position: relative;
  }
}
