section .section-details {
    margin: auto 0;
    position: relative;
    height: 100%;
    color: $color-white;
}
.section-details .heading {
    color: $color-white;
    @include f-acme;
    font-size: 3.5rem;
    text-align: center;
    margin: -1rem 0 0 3rem;
}

.grid-container {
    @include f-lato;
    color: $color-white;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 100px;
    
    & .app {
        justify-content: space-evenly;
    }
}

.app > * {
    grid-column: 2 / -2;
  }

  .app > .full {
    grid-column: 1 / -1;
  }

  .h-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(var(--total), calc(50% - 40px));
    grid-template-rows: minmax(250px, 1fr);
    padding: 0 20px;
    overflow-x: scroll;

    &::before,
    &::after {
        content: ‘’;
        width: 10px;
    }

    h2 {
        text-align: center;
        text-shadow: 1px 1px 2px $color-black;
        font-weight: 700;

    }
    
    & .h-card {
        list-style: none;
        padding: 10px;
        justify-self: center;
        background-image: linear-gradient(to top, $earth7, $earth6);
        border-radius: 15px;
        @include shadow3;
    }

    .h-card--content {
        user-select: none;
        line-height: 1.2;
        padding-bottom: 15px;

        > hr.h-card--hr {
            color: $color-white;
            size: 15px;
            width: 100%;
            border: none;
            border-top: 3px double #333;
            color: #333;
            overflow: visible;
            text-align: center;
            height: 5px;
            

            &:after {
                content: "KO";
                background: #fff;
                padding: 0 4px;
                position: relative;
                top: -13px;
            }

        }
    }

    & li:last-child {
        margin-right: 20px;
    }
  }
