html {
    height: 100%;
    background-color: white;
}

body {
    background-image: linear-gradient(to bottom right, $brite3, $brite2);
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    

    &.color1 {
        background-image: linear-gradient(to bottom right, $daark18, $daark1 );
    }
    &.color2 {
        background-image: linear-gradient(to bottom right, $color-black, lighten($color-black, 30));
    }
    &.color3 {
        background-image: linear-gradient(to bottom right, $daark7, $daark3);
    }
    &.color4 {
        background-image: linear-gradient(to bottom right, $daark6, $daark4);
    }
    &.color5 {
        background-image: linear-gradient(to bottom right, $brite6, $brite3);
    }
    &.color6 {
        background-image: linear-gradient(to bottom right, $color-white, $soft4);
    }
}

.content {
    position: relative;
    padding-top: 15rem;
}

.banner .icon-js {
    position: absolute;
    top: -25px;
    // left: 40%;
    margin-left: 10%;
    z-index: 20000;
    opacity: .3;

    .img-js {
        animation: float-js 2s ease-in-out infinite;
    }
}

.banner .icon-apple {
    position: absolute;
    top: -25px;
    margin-left: 80%;
    z-index: 20000;
    opacity: .3;

    .img-apple {
        animation: float-js 1.5s ease-in-out infinite;
    }
}

.banner .icon-tv {
    position: absolute;
    top: -25px;
    // left: 44%;
    margin-left: 65%;
    z-index: -1;
    opacity: .3;

    .img-tv {
    animation: float-tv 2.3s ease-in-out infinite;
    }
}
.banner .icon-bluetooth {
    position: absolute;
    top: -25px;
    margin-left: 95%;
    z-index: -1;
    opacity: .3;

    .img-bluetooth {
    animation: float-up 2.6s ease-in-out infinite;
    }
}
.banner .icon-css {
    position: absolute;
    top: -25px;
    // left: 19%;
    margin-left: 50%;
    z-index: -1;
    opacity: .3;
    
    .img-css {
        animation: float-css 3.1s ease-in-out infinite 0.3s;
    }
}
.banner .icon-code {
    position: absolute;
    top: -25px;
    margin-left: 40%;
    z-index: -1;
    opacity: .3;
    
    >img.img-code {
        animation: float-css 3s ease-in-out infinite 0.3s;
    }
}

.banner .icon-mouse {
    position: absolute;
    top: -25px;
    margin-left: 25%;
    z-index: -1;
    opacity: .3;
    
    .img-mouse {
        animation: float-mouse 2.7s ease-in-out infinite;
        
    }
}
.banner .icon-html5 {
    position: absolute;
    top: -25px;
    margin-left: 1%;
    z-index: -1;
    opacity: .3;
    
    .img-html5 {
        animation: float-mouse 4.5s ease-in-out infinite;
        
    }
}
.banner .icon-git {
    position: absolute;
    top: -25px;
    // left: 36%;
    margin-left: 75%;
    z-index: -1;
    opacity: .3;
    
    .img-git {
        animation: float-git 2.9s ease-in-out infinite 0.5s; 

    }

}

@keyframes float-js {
	0% {transform: translateY(10px); opacity: 0.0;}
    18% {opacity: 0.5;}
    50% {opacity: 0.75;}
	85% {opacity: 0.5;}	
	100% {transform: translateY(65px); opacity: 0.0;}									
}
@keyframes float-up {
	0% {transform: translateY(5px); opacity: 0.0;}
    18% {opacity: 0.5;}
    50% {opacity: 0.75;}
	85% {opacity: 0.5;}	
	100% {transform: translateY(65px); opacity: 0.0;}									
}
@keyframes float-css {
    0% {transform: translateY(60px); opacity: 0.0;}
	22% {opacity: 0.5;}
    54% {opacity: 0.75;}
	85% {opacity: 0.5;}	
	100% {transform: translateY(-55px); opacity: 0.0;}									
}
@keyframes float-mouse {
    0% {transform: translateY(70px); opacity: 0.0;}
	45% {opacity: 0.5;}
    60% {opacity: 0.75;}
	90% {opacity: 0.5;}	
	100% {transform: translateY(-70px); opacity: 0.0;}									
}
@keyframes float-git {
    0% {transform: translateY(0px); opacity: 0.0;}
	20% {opacity: 0.5;}
    60% {opacity: 0.45;}
	90% {opacity: 0.25;}	
	100% {transform: translateY(-90px); opacity: 0.0;}									
}
@keyframes float-tv {
    0% {transform: translateY(75px); opacity: 0.0;}
	20% {opacity: 0.5;}
    45% {opacity: 0.45;}
	80% {opacity: 0.25;}	
	100% {transform: translateY(-80px); opacity: 0.0;}									
}
