
.section-resume {
    @include shadows2;
    margin: 15rem auto 2rem;
    border: .5px solid rgb(233, 233, 233);

    div.container {
        display: grid;
        grid-template-columns: minmax(340px, 1fr) minmax(500px, 2fr);
        grid-template-rows: 175px autofit;
        grid-row-gap: 25px;
    
    }

    hr {
        width: 100px;
        color: black;
        margin-bottom: 0;
    }
}

.resume {
    display: inline-grid;
    grid-template-columns: 1fr;
    @include shadows;
    padding: 0 25px;
    background-color: $color-white;
    border: 1px solid $color-black;

    &__header--name {
        color: $color-black;
        font-size: 1.4rem;
        // text-align: center;
        line-height: 2.2;
        border-bottom: 1px solid $pk-orange;
        margin-bottom: 1rem;
    }
}

.resume__header {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -11px;
    margin-bottom: 20px;

    &--address,
    &--cell,
    &--email {
        align-self: center;
    }
    
    &--intro {
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: 1;
        margin-bottom: 1rem;
        color: black;
        

    }
}

div.resume--skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 10px;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 1rem;
    div.skill {
        color: $pk-dark-blue;
    }
}

div.exp {
    margin-left: 5px;
    color: black;

    &>p.job--title {
        margin-left: 10px;
        color: $pk-dark-blue;
    }
}




.section-employees .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr) minmax(320px, 2fr));
    grid-template-rows: minmax(200px, 1fr) minmax(autofit, 5fr);
    grid-row-gap: 70px;
    justify-content: center;
    justify-content: space-around;
    
} 

button.btn.btnResume {
    visibility: visible;
    padding: 3px;
    background-color: $pk-orange;
    float: right;
    font-size: 8px;
    border-radius: 3px;
    position: absolute;
    width: 5rem;
    bottom: 4px;
    right: 4px;
    color: white;
    @include shadow3;

    &:hover {
        transform: translateY(-3px);
        // @include shadows;
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        // @include shadows2;
        outline: none;
    }
    }

    .business-card .feature-employees {
        border: 1px solid $color-black;
    }
    
    .section-employees .feature-employees:hover {
        transform: translateX(-1px);
}

.section-employees .dots {
    margin: auto;
    padding: 0;
    list-style: none;
    width: 50px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: white;
    visibility: hidden;
}
.section-employees .dots li {
    background-color: #CCC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
.section-employees .dots li:last-child,
.section-employees .dots li:first-child {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #E1E1E1;
}
.section-employees .dots.bottom li:last-child,
.section-employees .dots.bottom li:first-child {
    margin-bottom: 3px;
}
div.linked-in {
    @include businessLinkedIn;
    background-color: $color-white;
    padding: 1rem 0 0 1rem;
    margin-top: 1rem;
    position: relative;
    border-radius: 50px;
    display: none;
    @include shadow6;
    background-image: linear-gradient(to right, $pk-light-blue, $pk-blue);

    &.show__info,
    &:active {
        display: block;
    }
    & i.fa-linkedin {
        color: white;
        -webkit-background-clip: text;
        background-clip: text;
        margin-top: -10px;
        margin-left: 18px;

        &~p.linkedin-link {
            @include f-shadows;
            margin: -40px 0 0 70px;
            font-size: 2rem;
            color: $color-black;
            
            &>a {
                color: $color-white;
                text-decoration: underline wavy white;
            }
        }
    }
}