<section class="section-aboutus">

    <div class="container">
        <div class="feature-box">
            <i class="feature-box__icon fas fa-business-time"></i>
            <h3 class='heading-tertiary'>More Value, Faster</h3>
            <span class="linear-border"></span>
            <p class="feature-box__text">
                    Our PrISM delivery framework (ProKarma Intelligent Support and Maintenance) helps clients quickly, iteratively and strategically achieve ongoing value through sustained innovation.
            </p>
            <a href="" class="btn btn--rect" data-toggle="popover" data-trigger="hover" data-placement="left" title="Why ProKarma?" data-content="ProKarma builds better, bolder products and services by applying the right mix of people, process and technology.">Why ProKarma?</a>
        </div>

        <div class="feature-box">
            <i class="feature-box__icon far fa-thumbs-up"></i>
            <h3 class='heading-tertiary center-textmargin-bottom-small'>Recurring, Repeatable Success</h3>
            <p class="feature-box__text">
                Our ProAgile methodology encompasses process, training, execution, infrastructure and monitoring to ensure fast delivery and frequent success.
            </p>
            <a href="" class="btn btn--rect" data-toggle="popover" data-offset="0 0" data-trigger="hover" data-placement="bottom" title="Why ProKarma?" data-content="We deliver digital services for companies that aspire to change how the world works and lives.">Why ProKarma?</a>
        </div>
        
        <div class="feature-box">
            <i class="feature-box__icon fas fa-tools"></i>
            <h3 class='heading-tertiary center-textmargin-bottom-small'>Zero Defect Delivery</h3>
            <p class="feature-box__text">
                Our ZeroDefect quality management approach helps eliminate unproductive processes, tools and resources that are not adding value to a project.
            </p>
            <a href="" class="btn btn--rect" data-toggle="popover" data-trigger="hover" data-placement="left" title="Why ProKarma?" data-content="We're accelerating digital initiatives and delivering real-world results for some of the world's most influential companies.">Why ProKarma?</a>
        </div>
    </div>
</section>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'bottom',
                delay: { "show": 500, "hide": 500 },
                trigger : 'hover'
            });
        });
        </script>
