<section class="section-comment">
    <div class="center-text margin-bottom-medium ">
    </div>
    <div class="container">
        <ul class="cards">
            <li class="card">
                <h1>Comment Card</h1>
                <p class="commented">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tempore veritatis aperiam et numquam, sunt ducimus sint officia error, dicta dolorem laboriosam, minima neque tempora? Hic sint dolores commodi accusantium.</p>
                <p class="author">Jane D</p>
            </li>
            <li class="card">
                <h1>Comment Card</h1>
                <p class="commented">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex laboriosam repudiandae labore aliquid sed accusantium cum aperiam, earum repellat maiores cupiditate vel error, cumque tempora praesentium sit officiis, veritatis quibusdam.</p>
                <p class="author">Mark A</p>
            </li>
            <li class="card">
                <h1>Comment Card</h1>
                <p class="commented">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, fugiat sint quo eum numquam saepe, illum unde autem laboriosam id nobis adipisci doloribus eius eligendi temporibus quos. Fuga, obcaecati?</p>
                <p class="author">Kyle T</p>
            </li>
            <li class="card">
                <h1>Comment Card</h1>
                <p class="commented">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, fugiat sint quo eum numquam saepe, illum unde autem laboriosam id nobis adipisci doloribus eius eligendi temporibus quos. Fuga, obcaecati?</p>
                <p class="author">Bear O</p>
            </li>
        </ul>
    </div>
</section>
