<section class="section-details">
    <div class="heading">
        HTML5 Elements
    </div>
    <div class="app grid-container">
            <ul class="h-container full">
                <li class="h-card">
                    <h2>Details</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                </li>
                <li class="h-card">
                    <h2>Dialog</h2>
                    <p class="h-card--content">
                        The HTML Dialog Element defines a dialog box or window.
                    </p>
                </li>
                <li class="h-card">
                    <h2>Figcaption</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                    <hr class="h-card--hr">
                    <figure>
                        <img src="../img/code.jpg" width="80px" height="80px" alt="Code image">
                        <figcaption>Code</figcaption>
                    </figure>
                    <div>
                        &lt;figure&gt;<br>
                            &lt;img src=&quo;../img/code.jpg&quo; width=&quo;80px&quo; height=&quo;80px&quo; alt=&quo;Code image&quo;&gt;<br>
                            &lt;figcaption&gt;Code&lt;/figcaption&gt;<br>
                        &lt;/figure&gt;<br>
                    </div>
                </li>
                <li class="h-card">
                    <h2>Figure</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                </li>
                <li class="h-card">
                    <h2>Header</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                </li>
                <li class="h-card">
                    <h2>Footer</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                </li>
                <li class="h-card">
                    <h2>Main</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                </li>
                <li class="h-card">
                    <h2>Mark</h2>
                    <p class="h-card--content">
                        The HTML Details Element creates a disclosure widget in 
                        which information is visible only when the widget is 
                        toggled into an "open" state. A summary or label can 
                        be provided using the &lt;summary&gt; element.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- <div class="app">
    <h1>Some headline</h1>
    
    <ul class="hs full">
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
    </ul>
    
    <div class="container">
      <div class="item">
        <h2>Block for context</h2>
      </div>
    </div>
  </div> -->