<section class="section-facts">
    <div class="center-text margin-bottom-large">
    </div>
    <div class="card-container">
        <div class="fact">
            <p class="fact--category"> <i class="fab fa-js-square fa-x2"> </i> JavaScript</p>
            <h1 class="fact--head">Closure</h1>
            <i class="fab fa-js-square fa-10x fact--icon"></i>
            <h2 class="fact--answer">A closure is ipsum dolor sit amet consectetur adipisicing elit. Fugit in repellat quae aspernatur rerum explicabo quis optio maxime, a expedita quaerat fuga eum mollitia velit accusantium dicta, officiis excepturi necessitatibus!</h2>
            <span class="fact--source">MDN Web Docs</span>
        </div>
        <div class="fact">
            <p class="fact--category"> <i class="fab fa-css3-alt fa-x2"> </i> CSS</p>
            <i class="fab fa-css3-alt fa-10x fact--icon"></i>
            <h1 class="fact--head">What is a Reset stylesheet?</h1>
            <h2 class="fact--answer">A reset stylesheet is repellat quae aspernatur rerum explicabo quis optio maxime, a expedita quaerat fuga eum mollitia velit accusantium dicta, officiis excepturi necessitatibus!</h2>
            <span class="fact--source">CSS Tricks</span>
        </div>
        <div class="fact">
            <p class="fact--category"> <i class="fab fa-css3-alt fa-x2"> </i> CSS</p>
            <h1 class="fact--head">CSS</h1>
            <i class="fab fa-css3-alt fa-10x fact--icon"></i>
            <h2 class="fact--answer">CSS is ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis expedita fugiat saepe blanditiis doloremque minus neque animi maxime cumque, quasi, quisquam at molestiae eveniet delectus quis voluptatibus obcaecati numquam adipisci.</h2>
            <span class="fact--source">Wikipedia</span>
        </div>
        <div class="fact">
            <p class="fact--category"> <i class="fab fa-js-square fa-x2"> </i> JavaScript</p>
            <h1 class="fact--head">Callback</h1>
            <i class="fab fa-js-square fa-10x fact--icon"></i>
            <h2 class="fact--answer">A callback is perspiciatis expedita fugiat saepe blanditiis doloremque minus neque animi maxime cumque, quasi, quisquam at molestiae eveniet delectus quis voluptatibus obcaecati numquam adipisci.</h2>
            <span class="fact--source">W3C Schools</span>
        </div>
    </div>

</section>