<section class="section-features">
    <div class="center-text">
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="feature-box">
                    <i class="feature-box__icon icon-basic-paperplane"></i>
                    <h3 class='heading-tertiary'>Accelerate business activities</h3>
                    <p class="feature-box__text">
                        Automate manual processes across your organization to break down silos, accelerate core functions and improve ROI.
                    </p>
                    <a href="#" class="btn btn--rect">Why ProKarma?</a>
            </div>
            <div class="feature--modal">
                <p class="feature--text">
                ProKarma builds better, bolder products and services by applying the right mix of people, process and technology.
                </p>
            </div>

        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-exclamation"></i>
                <h3 class='heading-tertiary center-textmargin-bottom-small'>Enrich every experience</h3>
                <p class="feature-box__text">
                    Automate manual processes across your organization to break down silos, accelerate core functions and improve ROI.
                </p>
                <a href="#" class="btn btn--rect btn--rect-2">Why ProKarma?</a>
            </div>

        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-settings"></i>
                <h3 class='heading-tertiary center-textmargin-bottom-small'>Create competitive advantages</h3>
                <p class="feature-box__text">
                    Accelerate business transformation initiatives, reinvent business models, and deploy emerging technologies to outpace disruption.
                </p>
                <a href="#" class="btn btn--rect btn--rect-3">Why ProKarma?</a>
            </div>

        </div>
    </div>
</section>