<section class="section-grid">
    <div class="grid-container">
        <div class="grid-item grid-item1 front">1</div>
        <div class="grid-item grid-item2 front">2</div>
        <div class="grid-item grid-item3 front">3</div>
        <div class="grid-item grid-item4 front">4</div>
        <div class="grid-item grid-item5 front">5</div>
        <div class="grid-item grid-item6 front">6</div>
        <div class="grid-item grid-item7 front">7</div>
        <div class="grid-item grid-item8 front">8</div>
        <div class="grid-item grid-item9 front">9</div>
        <div class="grid-item grid-item10 front">10</div>
        <div class="grid-item grid-item11 front">11</div>
        <div class="grid-item grid-item12 front">12</div>
        <div class="grid-item grid-item13 front">
            <img width="102px" height="100px" src="/img/graphic-design.jpg" />
        </div>
        <div class="grid-item grid-item14 front">14</div>
        <div class="grid-item grid-item15 front">15</div>
        <div class="grid-item grid-item16 front">16</div>
        <div class="grid-item grid-item17 front">17</div>
        <div class="grid-item grid-item18 front">18</div>
        <div class="grid-item grid-item19 front">19</div>
        <div class="grid-item grid-item20 front">20</div>
        <div class="grid-item grid-item21 front">21</div>
        <div class="grid-item grid-item22 front">22</div>
        <div class="grid-item grid-item23 front">23</div>
        <div class="grid-item grid-item24 front">24</div>
        <div class="grid-item grid-item25 front">25</div>
        <div class="grid-item grid-item26 front">26</div>
        <div class="grid-item grid-item27 front">27</div>
        <div class="grid-item grid-item28 front">28</div>
        <div class="grid-item grid-item29 front">29</div>
        <div class="grid-item grid-item30 front">30</div>
    </div>
    <div class="grid-container-back">
        <div class="grid-item grid-item1 back"></div>
        <div class="grid-item grid-item2 back"></div>
        <div class="grid-item grid-item3 back"></div>
        <div class="grid-item grid-item4 back"></div>
        <div class="grid-item grid-item5 back"></div>
        <div class="grid-item grid-item6 back"></div>
        <div class="grid-item grid-item7 back"></div>
        <div class="grid-item grid-item8 back"></div>
        <div class="grid-item grid-item9 back"></div>
        <div class="grid-item grid-item10 back"></div>
        <div class="grid-item grid-item11 back"></div>
        <div class="grid-item grid-item12 back"></div>
        <div class="grid-item grid-item13 back"></div>
        <div class="grid-item grid-item14 back"></div>
        <div class="grid-item grid-item15 back"></div>
        <div class="grid-item grid-item16 back"></div>
        <div class="grid-item grid-item17 back"></div>
        <div class="grid-item grid-item18 back"></div>
        <div class="grid-item grid-item19 back"></div>
        <div class="grid-item grid-item20 back"></div>
        <div class="grid-item grid-item21 back"></div>
        <div class="grid-item grid-item22 back"></div>
        <div class="grid-item grid-item23 back"></div>
        <div class="grid-item grid-item24 back"></div>
        <div class="grid-item grid-item25 back"></div>
        <div class="grid-item grid-item26 back"></div>
        <div class="grid-item grid-item27 back"></div>
        <div class="grid-item grid-item28 back"></div>
        <div class="grid-item grid-item29 back"></div>
        <div class="grid-item grid-item30 back"></div>
    </div>
</section>



