<section class="section-jobs">
    <div class="center-text margin-bottom-medium">
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 mx-auto">
            <div class="pk-card">
                <div class="pk-card__side pk-card__side--front">
                    <div class="pk-card__picture pk-card__picture--1">&nbsp;</div>
                    <h4 class="pk-card__heading">
                            <span class="pk-card__heading-span">Software Engineer I</span>
                        </h4>
                    <div class="job-card__details">
                        <div class="detail--border"></div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Proficient in JavaScript, HTML, CSS</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Familiar with CSS pre-processors like SASS</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Solid foundational knowledge of SQL</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> A problem solver</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Strong communication skills</li>
                        </ul>
                    </div>
                </div>
                <div class="pk-card__side pk-card__side--back pk-card__side--back-1">
                    <p class="job-card--text">Job Description</p>
                    <p class="job-card--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod in fugiat libero, cum assumenda, quisquam deleniti vel earum hic placeat et error laboriosam esse magni culpa eius optio eos!</p>
                    <a href="#flip" class="btn btn--white">Apply now!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 mx-auto">
            <div class="pk-card">
                <div class="pk-card__side pk-card__side--front">
                    <div class="pk-card__picture pk-card__picture--2"></div>
                    <h4 class="pk-card__heading">
                        <span class="pk-card__heading-span">UI Developer</span>
                    </h4>
                    <div class="job-card__details">
                        <div class="detail--border"></div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Experience with client-side languages</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Experience with version control tools</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Experience deploying to cloud services</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Knowledge of mobile design patterns</li>
                            <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Excellent soft skills</li>
                        </ul>
                    </div>
                </div>
                <div class="pk-card__side pk-card__side--back pk-card__side--back-2">
                    <p class="job-card--text">Job Description</p>
                    <p class="job-card--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod in fugiat libero, cum assumenda, quisquam deleniti vel earum hic placeat et error laboriosam esse magni culpa eius optio eos!</p>
                    <a href="#flip" class="btn btn--white">Apply now!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 mx-auto">
            <div class="pk-card">
                <div class="pk-card__side pk-card__side--front">
                <div class="pk-card__picture pk-card__picture--3"></div>
                <h4 class="pk-card__heading">
                    <span class="pk-card__heading-span">Data Scientist</span>
                </h4>
                <div class="job-card__details">
                    <div class="detail--border"></div>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Bachelor degree or related experience</li>
                        <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Four years of experience with MATLAB</li>
                        <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Knowledge of Hadoop preferred</li>
                        <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Python, Scala, R or similar language</li>
                        <li><span class="fa-li"><i class="fas fa-code-branch"></i></span> Demonstrated skill analyzing datasets</li>
                    </ul>
                </div>
            </div>
            <div class="pk-card__side pk-card__side--back pk-card__side--back-3">
                <p class="job-card--text">Job Description</p>
                <p class="job-card--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod in fugiat libero, cum assumenda, quisquam deleniti vel earum hic placeat et error laboriosam esse magni culpa eius optio eos!</p>
                <a href="#flip" class="btn btn--white">Apply now!</a>
            </div>
        </div>
        </div>
    </div>
</section>
