<section class="section-jobs-alt">
    <div class="grid-container">
        <div class="pk-card-slide">
            <div class="slide__back">
                <h3>Open Positions</h3>
                <ul class="ui-slide">
                    <li>Software Engineer I</li>
                    <li>UI/UX Developer</li>
                    <li>Project Manager</li>
                    <li>Data Scientist</li>
                </ul>
            </div>
            <div class="slide__front">
                <div class="slide__front__picture">&nbsp;</div>
                <h4 class="slide__front__heading">
                    <span class="slide__front__heading">Technology</span>
                </h4>
                <div class="slide__front__details">
                    <div class="detail--border"></div>
                    <p class="slide__front--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod in fugiat libero, cum assumenda, quisquam deleniti vel earum hic placeat et error laboriosam esse magni culpa eius optio eos!</p>
                    <a href="#" class="alt-btn alt-btn--slide">View Jobs</a>
                </div>
            </div>
        </div>

        <div class="pk-card-slide">
                <div class="slide__back">
                    <h3>Open Positions</h3>
                    <ul class="ui-slide">
                        <li>HR Representative I</li>
                        <li>HR Manager</li>
                        <li>Project Manager</li>
                        <li>Payroll II</li>
                    </ul>
                </div>
                <div class="slide__front">
                    <div class="slide__front__picture">&nbsp;</div>
                    <h4 class="slide__front__heading">
                        <span class="slide__front__heading">Marketing</span>
                    </h4>
                    <div class="slide__front__details">
                        <div class="detail--border"></div>
                        <p class="slide__front--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod in fugiat libero, cum assumenda, quisquam deleniti vel earum hic placeat et error laboriosam esse magni culpa eius optio eos!</p>
                        <a href="#" class="alt-btn alt-btn--slide">View Jobs</a>
                    </div>
                </div>
            </div>
    </div>
</section>
