<section class="section-where">
    <div class="center-text margin-bottom-medium">
    </div>
        <div class="location-card">
            <div class="loc">
                <h1 class="meHead">From</h1>
                <div class="playVideo">
                    <video class="meVideo" controls muted>
                        <source src="../img/tornado.mp4" type="video/mp4"></source>
                    </video>
                </div>
                <span class="meLine"></span>
                <span class="meMinor">Born in Nebraska, raised in 
                    California and Texas; I came back to Nebraska to
                    enjoy the seasons. I think I'm ready for different seasons!
                </span>
                <p>🌪</p>
            </div>
            <div class="loc">
                <h1 class="meHead">Personal</h1>
                <video class="meVideo" controls muted>
                    <source class="meVideo" src="../img/dream.mp4" type="video/mp4"></source>
                </video>
                <span class="meLine"></span>
                <span class="meMinor">Married with 2 grown boys and 2 
                    cats and a house that is getting too big. I bought a hammock on the last 
                    Amazon Prime Day which the cats and I share.
                </span>
                <p>🏡</p>
            </div>
            <div class="loc">
                <h1 class="meHead">Travel</h1>
                <video class="meVideo" controls muted>
                    <source src="../img/video.mp4" type="video/mp4"></source>
                    Sorry, your browser doesn't support videos.
                </video>
                <span class="meLine"></span>
                <span class="meMinor">I prefer warm and beachy, my husband 
                    prefers fishing up north. I just want to relax with a good
                    book and a hammock.
                </span>
                <p>🛩</p>
            </div>
            <div class="loc">
                <h1 class="meHead">Technology</h1>
                <img class="mePicture" src="../img/mockup.jpg" type="video/mp4"></img>
                <span class="meLine"></span>
                <span class="meMinor">I've been working in technical roles for many years. 
                    I think I can do anything, I just need a computer and a few hours. 
                    Many times I've been given a goal and a technology to conquer and I'm on my way.
                </span>
                <p>👩🏽‍💻</p>
            </div>
        </div>
</section>
<script href="/js/where.js"></script>